html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  }
  
.naviconstyle {
  height: 4.5vw;
  width: 4.5vw;
}

.headerstyle1 {
  font-size: 5vw;
  text-align: center;
}

.headerstyle2 {
  text-align: center;
}